<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pivotal DevOps Days Minneapolis</title>
<link rel="stylesheet" href="css/foundation.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="./">Pivotal DevOpsDays Minneapolis</a>
				</h1>
			</li>
		</ul>
	</nav>

	<div class="row">
		<div class="large-12 columns">
			<ul>
				<li><a href="register">Drawing Registration</a></li>
				<li><a href="learnMore">Learn More</a></li>
				<li><a href="http://pivotal.io/event/devopsdays-minneapolis">Pivotal DevOpsDays Minneapolis Event Page</a></li>
			</ul>
		</div>
	</div>

</body>

</html>