<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pivotal DevOpsDays Minneapolis</title>
<link rel="stylesheet" href="css/foundation.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name">
				<h1>
					<a href="./">Pivotal DevOpsDays Minneapolis</a>
				</h1>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="./">Home</a></li>
				<li><a href="register">Register</a></li>
			</ul>
		</section>
	</nav>




	<div class="row">
		<div class="large-12 columns">
			<h3>Drawing Registration Info</h3>
			<hr />
		</div>
	</div>

	<div class="row">
		<div class="input">
			<form action="learnMore" method="post">
				Name: <input type="text" id="name" name="name" /> Title <input
					type="text" id="title" name="title" /> Company:<input type="text"
					id="company" name="company" /> Email Address:<input type="text"
					id="emailAddress" name="emailAddress" /> Phone Number:<input
					type="text" id="phoneNumber" name="phoneNumber" /> Current
				Challenge
				<textarea rows="5" cols="30" id="currentChallenge"
					name="currentChallenge"></textarea>
				Next Steps
				<textarea rows="5" cols="30" id="nextSteps" name="nextSteps"></textarea>
				<input type="submit" class="medium button" value="Register" /> <a
					href="learnMore" class="medium button">Cancel</a>
			</form>


		</div>
	</div>

</body>


</html>