<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration Success</title>
<link rel="stylesheet" href="css/foundation.css" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"><a href="./">Pivotal DevOpsDays Minneapolis</a>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="./">Home</a></li>
				<li><a href="register">Register</a></li>
				<li><a href="learnMore">Learn More</a></li>
			</ul>
		</section>
	</nav>

	<div class="row">
		<div class="large-12 columns">
			<p th:text="'Name -' + ${winner?.name}"/>
			<p th:text="'Email -' + ${winner?.emailAddress}"/>
		</div>
	</div>

</body>

</html>